:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --font-family-serif: font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-family-mono: font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

html {
  font-size: 16px;
  font-family: var(--font-family-sans-serif);
}

body {
  color-scheme: light dark;
  color: CanvasText;
  background-color: Canvas;
  
  margin: 0;
  padding: 0;
  min-height: 100%;
}

main {
  max-width: 600px;
  margin: 1rem;
}
