---
layout: base.njk
title: Mike Horn
---

<main>
  <h1>Mike Horn</h1>

  <p>
    Hi, welcome to my corner of the web. I am a developer of many years who
    enjoys improving the lives of others through the web. I have worked for both
    small and large companies. I have built sites for dozens of users and I have
    built sites for millions of users. I craft tools to help you get things done
    and hopefully have a little fun in the process.
  </p>

  <footer>
    <a href="https://github.com/gpbmike">Github</a>

    <a href="https://www.linkedin.com/in/mike-horn-232bb4161/">LinkedIn</a>
  </footer>
</main>
